.card{
    display: flex;
    flex-flow: column nowrap;
    width: 17rem;
    height: 20rem;
    margin: 1rem;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 3px 3px 7px rgba(71, 71, 71, 0.274);
}
.card .image{
    height: 60%;
    background-color: rgba(128, 128, 128, 0.329);
    border-radius: 15px 15px 0 0;
}
.card .content{
    padding: 0.9rem;
}
.card .rating{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 500;
    font-size: 18px;    
}
.card .price{
    color: gray;
    font-size: 14px;
    margin-bottom: 0.5rem;
}
.card h3{
    font-weight:500;
}

.btn{
    padding: 0.7rem 1rem;
    background-color: orange;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.back-btn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 18px;
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
}


.cart-item{
    width: 70%;
    height: 10rem;
    overflow: hidden;
    display: flex;
    gap: 1rem;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    border: 1px solid lightgray;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(112, 111, 111, 0.205);
    margin-bottom: 1rem;
}
.cart-item .image{
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.cart-item .process button{
    font-size: 25px;
    font-weight: bold;
    border: 2px solid gray;
    padding:0.7rem 1.2rem;
    outline: none;
    background: transparent;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.process input{
    background-color: transparent;
    color: black;
    border: none;
    outline: none;
    width: 50px;
    padding: 0.7rem;
    text-align: center;
    font-weight: bold;
}
.btn-group{
    display: flex;
    gap: 1rem;
}
.cart-item .btn-group button{
    background-color: transparent;
    color: black;
}
.cart .btn-group-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 0 1rem;
}
.cart .btn-group-2 button{
    width: 30%;
    font-size: 16px;
    font-weight: bold;
}
.cart{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}



#product{
    padding: 1rem;
}
#product .product-header .image{
    width: 50%;
    height: 20rem;
    background-color: lightgray;
    border-radius: 10px;
}
#product .product-body{
    padding: 1rem;
}